{{> head}}
{{>headStyles/mainPageHead}}
</head>
<body>
{{> header isAuth = isAuth}}
<main>
    {{> selectLanguage/languageVerticalSelect}}
</main>
<script src="/scripts/src/websocketNotification.js"></script>
</body>
</html>