{{> head}}
{{> headStyles/themeSelectHead}}
</head>
<body>
{{> header isAuth = isAuth}}
<main>
    {{> selectLanguage/languageHorizontalSelect}}
    {{{ body }}}
</main>
<script src="/scripts/dist/websocketNotification.js"></script>
</body>
</html>