<div class="selectContainer" id="languageSelectContainer">
    <a href="/theme/js" id="js">JAVASCRIPT</a>
    <div title="Материалы находятся в разработке" id="net">C# .NET</div>
    <div title="Материалы находятся в разработке" id="python">PYTHON</div>
</div>