<div class="selectContainer" id="languageSelectContainer">
    {{#if isNet}}
        <div title="Материалы находятся в разработке" class="isNet" id=".net"><img src="/styles/src/net-button-logo.svg">C# .NET</div>
    {{else}}
        <div title="Материалы находятся в разработке">C# .NET</div>
    {{/if}}

    {{#if isPython}}
        <div class="isPython" title="Материалы находятся в разработке"><img src="/styles/src/python-button-logo.svg">PYTHON</div>
    {{else}}
        <div title="Материалы находятся в разработке">PYTHON</div>
    {{/if}}

    {{#if isJs}}
        <a href="/theme/js" class="isJs"><img src="/styles/src/js-button-logo.svg">JAVASCRIPT</a>
    {{else}}
        <a href="/theme/js">JAVASCRIPT</a>
    {{/if}}

</div>