<div class="selectContainer" id="languageSelectContainer">
    <a href="/theme/net" id="net">C# .NET</a>
    <a href="/theme/python" id="python">PYTHON</a>
    <a href="/theme/js" id="js">JAVASCRIPT</a>
</div>