<link rel="stylesheet" href="/styles/404.css">
<div class="errorUrlContainer">
    <h1>404</h1>
    <h2>Страница не найдена</h2>
    <p>Страница которую вы ищете не существует.</p>
    <p>Чтобы вернуться на главную нажмите <a href="/">сюда</a>.</p>
</div>