<link rel="stylesheet" href="/styles/about.css">
<div class="aboutContainer">
    <h1>О нас</h1>
    <h2>Сайт представляет собой набор различных заданий,
        посвященный наиболее востребованным языкам программирования.</h2>
    <p>Сложность заданий варьируется от самых простых, подходящих для тех, кто только начал осваивать азы
        программирования, до более сложных, завершающих курс.</p>
    <p>Задания охватывают основные области изучения языков, подготавливая учеников ко всевозможным ситуациям,
        возникающим в выбранном ими направлении развития.</p>
    <p>Сайт идет в ногу со временем, регулярно обновляясь и добавляя к уже имеющейся базе тем и заданий совершенно
        новые, отвечающие современным требованиям.</p>
    <p>Спасибо, что выбрали именно наш ресурс для изучения программирования!</p>
</div>