<form id="addTheme">
    <select name="language" id="">
        <option value="js">JS</option>
        <option value="net">.Net</option>
        <option value="python">Python</option>
    </select>
    <input type="text" name="name">
    <input type="submit">
</form>
<script src="adminPage.js"></script>