<a href="" class="prev"><</a>
<a href="" class="next">></a>

<div class="exercisesPageContainer">
    {{#with theme}}
        <div class="title">
            <div class="themeName">{{themeNumber}}. {{themeName}}</div>
            <a href="" class="theoryLink">Сначала изучите теорию</a>
            {{>semaphore ../lang  id}}
        </div>
    {{/with}}

</div>