<a href="" class="prev"><</a>
<a href="" class="next">></a>

<div class="exercisesPageContainer">
    {{#with theme}}
        <div class="title">
            <div class="themeName">{{number}}. {{title}}</div>
            <a href="" class="theoryLink">Сначала изучите теорию</a>
            {{>semaphore lang=lang id=id}}
        </div>
    {{/with}}

</div>