<div class="title">Основы</div>
<div class="themesContainer">
    {{#each themesList}}
        <div class="themeCard">
            <div class="number">{{number}}</div>
            <div class="name">{{name}}</div>
            <div class="interactiveButtonsContainer">
                <div class="theory"><a href="#">Теория</a></div>
                {{>semaphore lang=language id=_id}}
            </div>
        </div>
    {{/each}}
</div>