<link rel="stylesheet" href="/styles/404.css">
<div class="errorUrlContainer">
    <h1>500</h1>
    <h2>Ошибка сервиса</h2>
    <p>Возможно при запросе произошла ошибка.</p>
    <p>Чтобы вернуться на главную нажмите <a href="/">сюда</a>.</p>
</div>