<link rel="stylesheet" href="/styles/auth.css">
<form method="post" id="authForm" action="/user/login" class="form">
    <div class="formHeader">Вход</div>
    <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
    <input type="password" id="password" name="password" placeholder="Пароль" required>
    {{#if isNonValid}}
        <span class="invalid">Ошибка в username или login</span>
    {{/if}}
    <input type="submit" value="Войти">
</form>
<script src="/scripts/fingerprint2.min.js"></script>
<script src="/scripts/dist/auth/validate/validationRequirements.js"></script>
<script src="/scripts/dist/auth/validate/validator.js"></script>
<script src="/scripts/dist/auth/login.js"></script>