<link rel="stylesheet" href="/styles/auth.css">
<form method="post" id="authForm" action="/user/login" class="authForm">
    <div class="authTabs">
        <a class="unactiveTab" href="/user/register">Регистрация</a>
        <span class="activeTab">Вход</span>
    </div>
    <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
    <input type="password" id="password" name="password" placeholder="Пароль" required>
    {{#if isNonValid}}
        <p class="invalid">Ошибка в username или login</p>
    {{/if}}
    <input type="submit" value="Войти">
</form>
<script src="/scripts/fingerprint2.min.js"></script>
<script src="/scripts/src/auth/login.js"></script>