<link rel="stylesheet" href="/styles/about.css">
<div class="aboutContainer">
    <h2>Аккаунт успешно зарегестрирован</h2>
    <p>Чтобы войти в аккаунт необходимо подтвердить письмо, пришедшее на почту.</p>
</div>