<header style="background: black;color: white;">
    <h1>Блокировка аккаунта</h1>
</header>
<main>
    <p>Здравствуйте <span style="font-style: italic;font-weight:bold;">{{username}}</span>, была замечена странная активность с вашего
        аккаунта.</p>
    <p>Возможно Вы одновременно вошли со слишком большого колличества аккаунтов.</p>
    <p>В реультате Ваш аккаунт был временно заблокирован.</p>
    <p>Для решения этого вопроса вы можете написать ответное письмо.</p>
    <p>Сайт <a href="{{domain}}">{{domain}}</a></p>
</main>