<header style="background: black;color: white;">
    <h1>Подтвердите почту</h1>
</header>
<main>
    <p>Здравствуйте <span style="font-style: italic;font-weight:bold;">{{username}}</span>,
        вы зарегестрировались на сайте <span style="font-weight:bold;">{{domain}}</span>.</p>
    <p>Для подтверждения аккаунта перейдите по ссылке <a href="{{verifyLink}}">{{verifyLink}}</a>.</p>
    <p>Если вы не регистрировались на нашем сайте, можете ничего не делать.</p>
    <p>С уважением, <a href="{{domain}}">{{domain}}</a>.</p>
</main>