<header>
    <nav>
        <div>НОВОСТИ</div>
        <div>О САЙТЕ</div>
    </nav>
    <a href="/" class="logoName">KOLCHANOV</a>
    <div class="headerContacts">
        <div>КОНТАКТЫ:</div>
        <a href=""><img src="/styles/src/vk-logo.svg" alt="vk"></a>
        <a href=""><img src="/styles/src/insta-logo.svg" alt="instagram"></a>
    </div>
</header>