<header>
    <nav>
        <div>НОВОСТИ</div>
        <div>О САЙТЕ</div>
    </nav>
    <span class="logoName">KOLCHANOV</span>
    <div class="headerContacts">
        <div>КОНТАКТЫ</div>
        <a href="https://t.me/sikmakn"><img src="/styles/src/tg-logo.svg" alt="telegram"></a>
        <a href="https://www.instagram.com/sikmakn/"><img src="/styles/src/insta-logo.svg" alt="instagram"></a>
    </div>
</header>