
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E7E7E9;
    padding: 45px;
    width: 400px;
    margin: 170px auto;
}

.formHeader {
    display: flex;
    width: 300px;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #191919;
}

.unactiveTab {
    color: #E7E7E9;
}

.form a {
    text-decoration: none;
}

.form label {
    display: flex;
    flex-direction: column;
}

.form li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    display: none;
}

.form input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    color: #191919;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #E7E7E9;
}

.form input[type="submit"] {
    margin: 30px 0 0;
    background: #191919;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 174px;
    height: 42px;
    border: none;
}

.form input:hover {
    transition: .1s;
    box-shadow: 0 0 1px 0 #3A2F28;
}

.form input:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
    transform: translateY(-50%);
}

.form .invalidInput {
    background: rgba(217, 22, 4, 0.6);
}

.form .validInput {
    background: rgba(114, 191, 36, 0.6);
}

.form .invalid {
    display: block;
    color: rgba(217, 22, 4, 0.6);
}

.form .valid {
    color: rgba(114, 191, 36, 0.6);
}