@font-face {
    font-family: Roboto;
    src: url("src/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("src/fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: Francois One;
    src: url("./src/fonts/FrancoisOne.ttf");
}